<div class="wrapper">
    <div class="section-registro">
        <div class="body-registro">
            <div class = "row mt-3 mb-3">
                <div class="form-group col-12">
                    <label class="title-user" form="tipo_usuario"> Ingresa los datos del alumno </label>
                </div>
            </div>

            <!-- Aquí comienzan los campos del formulario -->
            <!-- ID/Matrícula del alumno -->
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label> ID/Matrícula del alumno: </mat-label>
                <input matInput [(ngModel)]="alumno.clave_alumno" name="id" placeholder="Escribe matrícula del alumno">
            </mat-form-field>
            <div *ngIf="errors.clave_alumno" class="invalid-feedback"> {{errors.clave_alumno}} </div>

            <!-- Nombre del alumno -->
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label> Nombre: </mat-label>
                <input matInput [(ngModel)]="alumno.first_name" name="id" placeholder="Escribe nombre" (keypress)="soloLetras($event)">
            </mat-form-field>
            <div *ngIf="errors.first_name" class="invalid-feedback"> {{errors.first_name}} </div>

            <!-- Apellidos del alumno -->
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label> Apellidos: </mat-label>
                <input matInput [(ngModel)]="alumno.last_name" placeholder="Escribe apellidos" (keypress)="soloLetras($event)">
            </mat-form-field>
            <div *ngIf="errors.last_name" class="invalid-feedback"> {{errors.last_name}} </div>

            <!-- Correo electrónico del alumno -->
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label> Correo electrónico: </mat-label>
                <input matInput [(ngModel)]="alumno.email" placeholder="Escribe correo electrónico" [disabled]="editar">
            </mat-form-field>
            <div *ngIf="errors.email" class="invalid-feedback"> {{errors.email}} </div>

            <!-- Contraseña del alumno -->
            <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
                <mat-label> Contraseña: </mat-label>
                <input matInput [(ngModel)]="alumno.password" type="{{inputType_1}}" placeholder="Escribe contraseña">
                <mat-icon matSuffix class="eye-icon" (click)="showPassword()">{{hide_1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <div *ngIf="errors.password" class="invalid-feedback"> {{errors.password}} </div>

            <!-- Confirmar contraseña -->
            <mat-form-field class="mat-input" appearance="outline" *ngIf="!editar">
                <mat-label> Confirmar contraseña: </mat-label>
                <input matInput [(ngModel)]="alumno.confirmar_password" type="{{inputType_2}}" placeholder="Confirma la contraseña">
                <mat-icon matSuffix class="eye-icon" (click)="showPwdConfirmar()">{{hide_2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
            <div *ngIf="errors.password" class="invalid-feedback"> {{errors.password}} </div>

            <!-- Fecha de nacimiento -->
            <mat-form-field class="mat-input" appearance="outline">
              <mat-label>Fecha de nacimiento: </mat-label>
              <input matInput [matDatepicker]="picker" [(ngModel)]="alumno.birthdate" (focus)="picker.open()" placeholder="Coloca la fecha" (dateChange)="changeFecha($event)" type="string" name="birthdate">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div *ngIf="errors.birthdate" class="invalid-feedback"> {{errors.birthdate}} </div>

            <!-- CURP -->
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label> CURP: </mat-label>
                <input matInput minlength=18 maxlength=18 [(ngModel)]="alumno.curp" placeholder="Escribe CURP" [disabled]="editar" style="text-transform:uppercase;">
                <mat-hint align="end"> {{alumno.curp?.length || 0}} / 18 </mat-hint>
            </mat-form-field>
            <div *ngIf="errors.curp" class="invalid-feedback"> {{errors.curp}} </div>

            <!-- RFC -->
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label> RFC: </mat-label>
                <input matInput minlength=12 maxlength=13 [(ngModel)]="alumno.rfc" placeholder="Escribe RFC" [disabled]="editar" style="text-transform:uppercase;">
                <mat-hint align="end"> {{alumno.rfc?.length || 0}} / 13 </mat-hint>
            </mat-form-field>
            <div *ngIf="errors.rfc" class="invalid-feedback"> {{errors.rfc}} </div>

            <!-- Edad -->
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label> Edad: </mat-label>
                <input matInput [(ngModel)]="alumno.edad" mask='00' placeholder="Escribe edad">
            </mat-form-field>
            <div *ngIf="errors.edad" class="invalid-feedback"> {{errors.edad}} </div>

            <!-- Teléfono -->
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label> Teléfono: </mat-label>
                <input matInput [(ngModel)]="alumno.telefono" mask='(000) 000-0000' placeholder="Escribe número telefónico: ">
            </mat-form-field>
            <div *ngIf="errors.telefono" class="invalid-feedback"> {{errors.telefono}} </div>
            
            <!-- Ocupación -->
            <mat-form-field class="mat-input" appearance="outline">
                <mat-label> Ocupación: </mat-label>
                <input matInput [(ngModel)]="alumno.ocupacion" placeholder="Escribe ocupación">
            </mat-form-field>
            <div *ngIf="errors.ocupacion" class="invalid-feedback"> {{errors.ocupacion}} </div>

            <div class="section-buttons">
                <button class="btn btn-danger" (click)="regresar()"> Cancelar </button>
                <button *ngIf="!editar" class="btn btn-primary" type="submit" (click)="registrar()"> Registrar </button>
                <button *ngIf="editar" class="btn btn-primary" type="submit" (click)="actualizar()"> Actualizar </button>
            </div>
        </div>
    </div>
</div>
